@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

* { /* Sets font family for all text */
    font-family: 'Work Sans';
}

:root { /* Log variables here */
    /* Color Vars*/
    --mod-blue: #3E7EBB;
    --dark-gray: #222222;
    --mod-blue-rgba: rgba(62, 126, 187, 0.9);
}

nav { /* Fixes the header to top of screen, specifies dimensions and colors, and aligns contents to center vertically*/
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: var(--mod-blue);
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1000;
}

nav ul { /* Removes decoration from nav list, positions it, and makes it a row */
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
}

nav ul li { /* Specifies dimensions for each element and specifies the boldness of the font */
    padding: 20px;
    margin: 5px;
    border: 5px;
    font-weight: bold;
    font-size: 15px;
}

nav ul li a { /* Specifies dimensions of text links themselves, colors them, and turns off text decoration; Colors bottom border for a designed underline */
    color: var(--dark-gray);
    text-decoration: none;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 3px solid var(--dark-gray);
    padding: 3px;
}

header { /* Displays header image, specifies dimensions and positioning, and keeps it from tiling */
    background: url(./images/white-trees.jpg);
    background-position: center;
    height: 25vh;
    width: 100%;
    background-size: cover;
}

body { /* Specifies body background-color */
    background-color: #E6EDF7;
}

section { /* Makes each section its own flex container, specifies margin, and makes text black and bold */
    display: flex;
    margin: 30px 60px 30px 30px;
    color: black;
    font-weight: bold;
}

footer { /* Uses same blue as nav bar with white, bold, centered text and specifies padding */
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: var(--mod-blue);
    padding: 20px;
}

#logo-text { /* Puts designed rectangle around logo text and makes text itself big, bold, and blue*/
    background-color: var(--dark-gray);
    padding: 8px;
    font-weight: bold;
    color: var(--mod-blue);
    font-size: 25px;
}

#contact .content{ /* Aligns items vertically to the center */
    align-items: center;
    padding: 30px 0 30px 20px;
}

#contact .content ul { /* Puts undecorated Contact list elements in a row and specifies positioning */
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
}

#contact .content ul li { /* Spaces Contact list items evenly and centers them in their respective boxes */
    flex-grow: 1;
    text-align: center;
}

#contact .content ul li a { /* Gives each of the Contact links a solid gray underline replacing the default one and specifies dimensions and text color */
    border-bottom: 3px solid var(--dark-gray);
    text-decoration: none;
    padding: 3px;
    color: var(--dark-gray);
}

/* CARD SECTION: Each card is assigned to a grid area in the template and has an image background that is centered and does not tile (could probably be done in less lines with JS?)*/
#card-1 {
    grid-area: thumb-1;
    background: url(./images/form_website_pic.JPG);
    background-size: cover;
    background-position: center;
}

#card-2 {
    grid-area: thumb-2;
    background: url(./images/hendricks.JPG);
    background-size: cover;
    background-position: center;
}

#card-3 {
    grid-area: thumb-3;
    background: url(./images/portfolio.JPG);
    background-size: cover;
    background-position: center;
}

#card-4 {
    grid-area: thumb-4;
    background: url(./images/mcu_timeline.JPG);
    background-size: cover;
    background-position: center;
}

#card-5 {
    grid-area: thumb-5;
    background: url(./images/this.JPG);
    background-size: cover;
    background-position: center;
}

/* CARD CONTAINER: Specifies template for grid which determines how cards will be laid out; Specifies gaps in between the cards and makes cards adjacent to one another 50% of the size of the 100% big card (thumb-1) */
#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "thumb-1 thumb-1"
        "thumb-2 thumb-3"
        "thumb-4 thumb-5";
    column-gap: 10px;
    row-gap: 10px;
}

#phone { /* Allows cursor to stay the same when rolling over the phone number link in Contact */
    pointer-events: none;
}

.section-text { /* Specifies positioning, dimensions, and font size for left side large text of sections */
    text-align: right;
    padding-right: 10px;
    width: 15vw;
    font-size: 34px;
}

.content { /* Gives left border to main section content to drive a vertical bar between it and the large text; specifies dimensions of content */
    width: 85vw;
    border-left: 5px solid black;
    padding-left: 20px;
}

.big-card { /* Dimension and border specifications for large card */
    height: 500px;
    border: 3px solid var(--mod-blue);
    filter: brightness(50%);
    transition: 0.5s;
}

.big-card:hover { /* Brightens big card on hover */
    filter: brightness(100%);
    cursor: pointer;
}

.small-card { /* Dimension and border specifications for small cards */
    height: 200px;
    border: 3px solid var(--mod-blue);
    filter: brightness(50%);
    transition: 0.5s;
}

.small-card:hover { /* Brightens small cards on hover */
    filter: brightness(100%);
    cursor: pointer;
}

.card-text { /* Card text in card container flexed and moved to cross axis end */
    display: flex;
    align-items: flex-end;
}

.card-text p { /* Specifies dimensions, font size, and background color for actual card text */
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
    font-size: 15px;
}

.project { /* Specifies project text span font size */
    font-size: 20px;
}

.resources { /* Specifies resources text span font size */
    font-size: 10px;
}