@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

* { /* Sets font family for all text */
    font-family: 'Work Sans';
}

:root { /* Log variables here */
    /* Color Vars*/
    --mod-blue: #3E7EBB;
    --dark-gray: #222222;
    --mod-blue-rgba: rgba(62, 126, 187, 0.9);
}

/* ********** TAGS ********** */

nav { /* Fixes the header to top of screen, specifies dimensions and colors, and aligns contents to center vertically*/
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: var(--mod-blue);
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1000;
}

nav ul { /* Removes decoration from nav list, positions it, and makes it a row */
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
}

nav ul li { /* Specifies dimensions for each element and specifies the boldness of the font */
    padding: 20px;
    margin: 5px;
    border: 5px;
    font-weight: bold;
    font-size: 15px;
}

nav ul li a { /* Specifies dimensions of text links themselves, colors them, and turns off text decoration; Colors bottom border for a designed underline */
    color: var(--dark-gray);
    text-decoration: none;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 3px solid var(--dark-gray);
    padding: 3px;
}

header { /* Displays header image, specifies dimensions and positioning, and keeps it from tiling */
    background: url(./images/white-trees.jpg);
    background-position: center;
    height: 25vh;
    width: 100%;
    background-size: cover;
}

body { /* Specifies body background-color */
    background-color: #E6EDF7;
}

section { /* Makes each section its own flex container, specifies margin, and makes text black and bold */
    display: flex;
    margin: 30px 60px 30px 30px;
    color: black;
    font-weight: bold;
}

footer { /* Uses same blue as nav bar with white, bold, centered text and specifies padding */
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: var(--mod-blue);
    padding: 20px;
}

/* ********** IDs ********** */

#logo-text { /* Puts designed rectangle around logo text and makes text itself big, bold, and blue*/
    background-color: var(--dark-gray);
    padding: 8px;
    font-weight: bold;
    color: var(--mod-blue);
    font-size: 25px;
}

#contact .content{ /* Aligns items vertically to the center */
    align-items: center;
    padding: 30px 0 30px 20px;
}

#contact .content ul { /* Puts undecorated Contact list elements in a row and specifies positioning */
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
}

#contact .content ul li { /* Spaces Contact list items evenly and centers them in their respective boxes */
    flex-grow: 1;
    text-align: center;
}

#contact .content ul li a { /* Gives each of the Contact links a solid gray underline replacing the default one and specifies dimensions and text color */
    border-bottom: 3px solid var(--dark-gray);
    text-decoration: none;
    padding: 3px;
    color: var(--dark-gray);
}

/* CARD SECTION: Each card is assigned to a grid area in the template and has an image background that is centered and does not tile (could probably be done in less lines with JS?)*/
#card-1 {
    grid-area: thumb-1;
    /* background: url(./images/form_website_pic.JPG); */
}

#card-2 {
    grid-area: thumb-2;
}

#card-3 {
    grid-area: thumb-3;
    /* background: url(./images/portfolio.JPG); */
}

#card-4 {
    grid-area: thumb-4;
    /* background: url(./images/mcu_timeline.JPG); */
}

#card-5 {
    grid-area: thumb-5;
    /* background: url(./images/this.JPG); */
}

/* CARD CONTAINER: Specifies template for grid which determines how cards will be laid out; Specifies gaps in between the cards and makes cards adjacent to one another 50% of the size of the 100% big card (thumb-1) */
#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "thumb-1 thumb-1"
        "thumb-2 thumb-3"
        "thumb-4 thumb-5";
    column-gap: 10px;
    row-gap: 10px;
}

#phone { /* Allows cursor to stay the same when rolling over the phone number link in Contact */
    pointer-events: none;
}

/* ********** CLASSES ********** */

.section-text { /* Specifies positioning, dimensions, and font size for left side large text of sections */
    text-align: right;
    padding-right: 10px;
    width: 15vw;
    font-size: 34px;
}

.content { /* Gives left border to main section content to drive a vertical bar between it and the large text; specifies dimensions of content */
    width: 85vw;
    border-left: 5px solid black;
    padding-left: 20px;
}

.big-card { /* Dimension and border specifications for large card */
    height: 500px;
    border: 3px solid var(--mod-blue);
}

.small-card { /* Dimension and border specifications for small cards */
    height: 200px;
    border: 3px solid var(--mod-blue);
}
/* CARD CONTENT AND TRANSITIONS: 
    ::BEFORE: Each card is given a empty content property, positioned, and dimensions and positioning are specified; Brightness is set to half on a background url and a transition is given for the hover element;

    :HOVER::BEFORE: Changes the brightness to normal on hover;
    
    .CARD-CONTENT: Moves the card text in the container and positions the element in the correct flow; */
/* CARD 1 */
.card-content-1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/mcu_timeline.JPG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-1:hover::before {
    filter: brightness(100%);
}

.card-content-1 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-1 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
}

/* CARD 2 */
.card-content-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/form_website_pic.JPG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-2:hover::before {
    filter: brightness(100%);
}

.card-content-2 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-2 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
}

/* CARD 3 */
.card-content-3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/hendricks.JPG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-3:hover::before {
    filter: brightness(100%);
}

.card-content-3 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-3 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
}

/* CARD 4 */
.card-content-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/portfolio.JPG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-4:hover::before {
    filter: brightness(100%);
}

.card-content-4 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-4 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
}

/* CARD 5 */
.card-content-5::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/documentation_page.JPG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-5:hover::before {
    filter: brightness(100%);
}

.card-content-5 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-5 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
}

/* CARD 6 */
.card-content-6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/form_website_pic.JPG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-6:hover::before {
    filter: brightness(100%);
}

.card-content-6 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-6 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--mod-blue-rgba);
}
/* CARD CONTENT END ----------------------------------------------------------------------------------------------- */

/* CARD TEXT */
.project { /* Specifies project text span font size */
    font-size: 20px;
}

.resources { /* Specifies resources text span font size */
    font-size: 10px;
}