nav {
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: #600FFF;
    display: flex;
    align-items: center;
    top: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: auto;
}